@model DEPT_API.Models.TrailerModel

@{
    ViewBag.Title = "Index";
}

<h2>Movie trailer finder</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{ 
    <span>Search movie trailer: </span> <input type="text" name="search" placeholder="Enter movie" />
}

<div>
    <h4>TrailerModel</h4>
    <iframe src="@Html.DisplayFor(model => model.LinkEmbed)"
            width="860"
            height="480"
            frameborder="0"
            allowfullscreen></iframe>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YtVideoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YtVideoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImdbVideoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImdbVideoUrl)
        </dd>

    </dl>
</div>
